body{
    background-image: url(img/milky-way-starry-sky-night-sky-star-956999.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    margin-top:80px;
}
ul{
    list-style-type: none;
    padding-left:45px;

}

.education-list > li{
    padding-top: 20px;
}
.detail-list-1 > li{
    font-size:20px;
}


nav{
    margin-left:30px;
    width:50vw;
    border-radius: 10px;
    background-color: #d4af37;
    font-size: 17px;
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: right;
}
nav a{
    color:white !important;
    font-weight: 500;
    font-size: 20px;
    margin-left: 70px;
    
}
.active{
    color:black !important;
    
}

.navbar-button>a{
    background-color: rgb(0,85,102);
    padding:20px 15px 20px 20px;
    border-radius: 20%;
    margin-right:45px;
    cursor: pointer;
}
.navbar-button>a:hover{
    background-color: #d4af37;
    box-shadow:0px 0px 20px rgb(255, 187, 0);
}

.btn-primary{
    margin-left:48%;
    border-color: #d4af37;
    background-color: #d4af37;
}
.btn-primary:hover{
    border-color:rgb(0,85,102);
    background-color:rgb(0,85,102);
}

.card-container{
    margin-top:40px;
}

.card-1{
    width:280px;
    height:700px;
    /* background: url(img/twitter-icon.png) no-repeat; */
    background-size: contain;
    background-position: 5px 10px;
}
.card-2{
    width:60vw;
    margin-left:70px;
}

.card-1,.card-2{
    border: black solid;
    border-width: 1px;
    box-shadow: 10px 3px 5px #9999993b;
    border-radius: 10px;
    background-color: white;
}
.card-title{
    color:rgb(0, 85, 102);
}
.card-title::first-letter{
    font-family: sans-serif;
    font-size: 30px;
}



.personal-info>ul{
  margin-left: -50px; 
  list-style-type: none;
  margin-top: 20px;  
}
.personal-info li{
    margin-bottom:10px;
    padding-left:10px;
    
}


.cv-section-title{
    display: inline-block;
    background-color:rgb(0,85,102);
    color: white;
    margin-left:45%;
    font-weight: 600;
    padding:10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px #d4af37;
}

.education-1,.education-2{
    margin-top:50px;
    margin-bottom:60px;
    margin-left:50px;
}
.education-card,.education-card-2{
    height:600px;
    border-radius: 5px;
    border: 2px solid lightgray !important;
    box-shadow:5px 3px 5px rgba(128, 128, 128, 0.493);
    
}
.education-card:hover,.education-card-2:hover{
    transform : scale(1.02);
}

.education-card-body>ul,.education-card-body-2>ul{
    margin-left:-50px;
    
}
.education-accomp-1,.education-accomp-2{
    font-size: 17px;
    line-height: 2.5;
}
.education-accomp-1{
    margin-left:10px;
}
.education-accomp-1 p{
    max-width: 1000px;
}
.education-accomp-1::first-letter,.education-accomp-2::first-letter{
    display: inline-block;
    line-height: 30px;
    font-size: 30px;
    
}
.education-accomp-2{
    margin-right:10px;
}
.education-card-body li{
    font-size: 20px;
}
.education-card-uni-title{
    text-align: center;
    font-size: 30px;
}



.card-deck{
    margin-top:20px;
    margin-bottom:60px;
}
[class|="ability-main"]{
    
    box-shadow:5px 3px 5px rgba(128, 128, 128, 0.493);
    border-radius: 10px;

}
[class|="ability-main"]>img{
    margin-top:15px;
    margin-left:20px;
    width:30%;
}
[class|="ability-main"]:hover{
    transform : scale(1.02);
}

.timeline{
    margin-top:20px;
    border-top: 3px solid #e9ecef;
}
.event-list{
    position: relative;
    text-align: center;
    padding-top: 50px;
    justify-content: left;
}
.event-list:before{
    content: "";
    position: absolute;
    margin-top:10px;
    height: 35px;
    border-right: 2px dashed red;
    top:0;
}
.date-exp{
    position: absolute;
    top:-15px;
    width: 180px;
    border-radius: 4px;
    margin-left:34%;
    background-color: #d4af37;
    font-size: larger;
    color: white;
}

.event-card{
    text-align: left;
    box-shadow:5px 3px 5px rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    margin-right:15px;
    max-width:700px;
}
.detail-list-1,.detail-list-2{
    margin-left:-40px;
}
.detail-sublist{
    margin-left:-20px;
}
.event-card:hover{
    transform : scale(1.02);
}

.scholarship span{
    color:grey;
    font-size: 20px;
}
.description{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
footer{
    background-color: #a78000;
    margin-top:5%;
    padding-top:20px;
    padding-bottom:20px;
}
footer>div{
    color:white;
    text-align: center;
}




